<p>我是view2</p>
<button id="button" value="我是Button"></button>
<pre>哈罗，我是view2。我喜欢写java！
    class TestCase {
        public static void main(String[] args) {
            System.out.println("哈罗，我是view2。我喜欢写java！");
        }
    }
</pre>