<p>你好，我是view1</p>
<image height="60%" src="http://pic.qiantucdn.com/58pic/18/67/66/60358PICvtK_1024.jpg" width="60%"></image>
<button id="button">我是Button</button>
<table class="team" border="1">
    <thead>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>组织</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1601214480</td>
        <td>史默臻</td>
        <td>组长</td>
    </tr>
    <tr>
        <td>1601214470</td>
        <td>吕广利</td>
        <td>组员</td>
    </tr>
    <tr>
        <td>1601110646</td>
        <td>吴恺东</td>
        <td>组员</td>
    </tr>
    </tbody>
</table>